@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|VT323&display=swap');


body {
    background-color: darkred;
    font-family: 'VT323', monospace;
    font-size: 20px;
    color: whitesmoke;

    
}

h1,
h2,
h3 {font-family: 'Press Start 2P', cursive;

}
.gigs {

    border: 2px dashed burlywood;
}
h1 {
    text-align: center;
}
h2 { 
    background-color: black;
    padding: 20px;
}

@media screen and (min-width: 700px) {

    body {
        background-color: black;
    }
    h2 {
        background-color: darkred;
    }
}
img, 
video,
audio,
iframe {
    max-width:100%; ;
}

a {
    color: ;
}