body {
    background-color: black;
    color: blanchedalmond;
    
}

.gigs {

    border: 2px dashed burlywood;
}

h2 { 
    background-color: cadetblue;
    padding: 20px;
}

@media screen and (min-width: 500px) {

    body {
        background-color: darkgray;
    }
}
img, 
video,
audio,
iframe {
    max-width:100%; ;
}